@use './variables.scss' as *;

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $blue;
  border-radius: 5px;
  box-sizing: border-box;

  transition: background-color 300ms ease;

  font-weight: 700;
  font-size: 14px;
  color: white;
  text-decoration: none;

  &:hover {
    background-color: white;
    border-color: $blue;
    outline: 1px solid $blue;
    color: $blue;
  }
}
