@use './variables.scss' as *;

.product-card__price-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
}

.product-card__label {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: $grey;
  margin-left: 16px;
}

.product-card__amount {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: $main-color;
  margin-left: 16px;
}
