@use './variables.scss' as *;

.__price-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
}

.__label {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: $grey;
  margin-left: 16px;
}

.__amount {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: $main-color;
  margin-left: 16px;
}
